body{
	font-family:cursive;
	background-image: url(sivatag.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

p{
	text-align:justify;
}

hr{
	border:2px solid orange;
}

input{
	background-color:transparent;
	font-family:cursive;
	width:100px;
	margin-bottom:10px;
	font-weight:bold;
	padding:5px;
}

#vers{
	width:600px;
	margin: 0 auto;
}

#fohasz{
	font-style:italic; 
	text-align:center;  
	text-transform:uppercase
}

#oazis{
	width:30%;
}

p{
	font-family:;
}

h1{
	border: 3px solid orange;
}

#romhanyi{
	text-align: right;
	font-style: italic;
	font-size: 13px;
}

.tevekep{
	float: right;
}

#jobbra{
	text-align: right;
}

a {
	color: orange;
	text-decoration: none;
	;
}

a:hover{
	color: white;
	background-color:darkorange;
	text-decoration: underline;
}